<h1 align="center">Listing of all Articles</h1>
<div align="center">
  <%= will_paginate %>
</div>
<div id="outer-div" width="100%">
  <div id="inner-div">
    <%= render 'article', obj: @articles %>
  </div>
</div>
<div align="center">
  <%= will_paginate %>
</div>
