<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.description %>
</p>

<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to Articles Listing', articles_path %>
