// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#outer-div {
width: 100%;
text-align: left;
}
#inner-div {
display: inline-block;
margin: 0 auto;
padding: 3px;
}
